.logoPageMobile {
  font-size: 9vh;
  font-family: Gugi;
  text-shadow: #b3b3b3 1vw 0.8vh;
}
@media screen and (min-width: 768px) {
  .logoPage {
    visibility: visible;
    color: #333333;
    font-family: Gugi;
    font-size: 7vh;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
