.experiencia {
  text-align: justify;
  padding: 1vh;
}
.experiencia h2 {
  color: #ed088c;
}
.experiencia h2,
h3 {
  padding: 1vh;
}
hr {
  width: 50vw;
  margin: auto;
}
.experiencia p {
    margin-top: 1vh;
}
@media screen and (min-width: 844px) {

  .contenedorPrincipal {
    display: flex;
    flex-direction: row;
    gap: 4vh;
    font-size: 1.5rem;
  }
  .experiencia {
    flex-basis: 50%;
  }

  hr {
    width: 25vw;
    margin: auto;
  }
}
