/* EN ESTA PARTE HAREMOS EL DISEÑO PARA MOVILES, 
SE CAMBIA A DISEÑO MOVIL CUANDO SEA MENOR DE 844px */
.contenedorImagen{
    display: flex;
    flex-direction: column;
}

.titulo{
    color: #ed088c;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
}
.contenedorImagen figure{
    display: flex;
    justify-content: center;
}
.foto {
	max-width: 50vw;
	position: relative;
	z-index: 1;
	border-radius: 10%;
}

.contenedorRedes {
	margin-top: 1vh;
	margin-bottom: 1vh;
    display: flex;
	justify-content: space-evenly;  
}
.logoredes {
	max-width: 7vw;
}

.contenedorPrincipal{
    margin-top: 2vh;
}
.contenedorPrincipal h1{
    color: #ed088c;
    text-align: center;
    font-size: xx-large;
    font-family: Gugi;
    margin-bottom: 2vh;
}
.contenedorPrincipal h3{
    margin-bottom: 2vh;
    text-align: center;
}

.contenedorPrincipal article, p {
    text-align: justify;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
}


/* EN ESTA PARTE HAREMOS EL DISEÑO A PANTALLA MAYORES */
@media screen and (min-width: 844px) {

    #particles-js{
        width:30vw;
        height: 80vh;
    }
    .contenedor{
		flex-direction: row;
	}

    .contenedorSup{
        margin-left: 5vw;
        min-width: 30%;
    }

	.foto{
		max-width: 20vw;
        margin-bottom: 3vh;
	}


    .logoredes{
        max-width: 5vh;
    }

    .logoredes:hover{ 
        transform: scale(1.5);
    }
}