
.projects {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1vw;
  padding-right: 2vw;
  text-align: center;
  border: solid 1px #b3b3b3;
  box-shadow: #b3b3b3 4px 4px;
  border-radius: 2vh;
  margin-bottom: 3vh;
}

.project img {
  margin-top: 2vh;
  max-width: 20vw;
  border-radius: 100%;
}
.contenedorLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  color: #ed088c;
  font-size: 7vw;
  font-family: Gugi;
  margin-left: 2vh;
}

.tecnologias {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.tecnologias span  {
  color: #ed088c;
  font-weight: bold;
  border: #ed088c solid 1px;
  padding: 1vw;
  border-radius: 3vw;
  min-width: 12vw;
  font-family: Gugi;
  font-size: 1rem;
}
.tecnologias a {
  text-decoration: none;
}
.tecnologias a span{
  border: #b3b3b3 solid 1px;
  color: #333333;
}

@media screen and (min-width: 844px) {

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  h3 {
    font-size: 2rem;
  }
  .project {
    max-width: 15vw;
  }

  .project img {
    max-width: 8vh;
  }
  .tecnologias span {
    min-width: 3vw;
    padding: 0.5vh;
    font-size: 1rem;
  }
  .tecnologias a span{
    min-width: 3vw;
    padding: 0.8vh;
    font-size: 1rem;
  }
  .project article {
   text-align: justify;
  }

}
