.tab {
  margin-left: 3vh;
}
.tab2 {
  margin-left: 6vh;
}
.comentario {
  color: #b3b3b3;
  padding-left: 2vw;
}

.resaltar {
  color: #ed088c;
}
.contenedorPrincipal div {
  padding: 1vh;
}

@media screen and (min-width: 844px) {

  
  .tab {
    margin-left: 3vh;
  }
  .tab2 {
    margin-left: 6vh;
  }

  .contenedorPrincipal{
	display: flex;
	flex-direction: row;
	column-gap: 6vw;
	justify-content: center;
  font-size: 1.5rem;
  }

  .softSkills p{
    margin-top: 0.5vh;
  }
}
